@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: 20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
	top: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 16px;
}

a {
	color: black;
	font-size: 14px;
	text-decoration: none;
	
}

.btn {
	border-radius: 20px;
	border: 1px solid #ffa500;
	background-color: #ffa500;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}
form {
	background-color:#eee;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 10px;
	width: 100%;
}

.container {
	background-color:white;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25);
	position: relative;
	overflow: hidden;
	top: 0;
	width: 500px;
	max-width: 200%;
	min-height: 600px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	
}
.sign-in-container {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}


@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}
.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
@media(max-width:1200px){
	html{
		font-size: 55%;
	}
	body{
		width: 100%;
	}
	}
	@media(min-width:991px){
		body{
			background-size: cover;
		}
	}
		
input.ng-invalid.ng-touched{
	border:red 1px solid;
}